* {
    margin: 0px;
}
body {
    background-color: #343434;
}
a {
    text-decoration: none;
    color:#343434;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar {
    background-color: #f0482c;
    display: flex;
    justify-content: center;
}
.coverimagenav {
    display: flex;
    justify-content: center;
}
.fullnav {
    padding-bottom: 25px;
    margin-bottom: 20px;
}
a:hover {
    background-color: #ec5c24;
}
p {
    color: white;
    font-size: 2em;
}
.welcomeparagraph {
    box-shadow: 10px 10px white;
    background-color: #f0482c;
    display: flex;
    text-align: center;
    flex-flow: column;
    width: 50%;
}
.maintext {
    font-size: 4em;
    color: #343434;
}
.centercontent {
    display: flex;
    justify-content: center;
}